[submodule "racers/Junsu/elice-cloud-track-Junsu-github-submodule"]
	path = racers/Junsu/elice-cloud-track-Junsu-github-submodule
	url = https://github.com/SuranS2/elice-cloud-track-Junsu-github-submodule.git
